<div id="new_comment_form">
  <%= form_for [@post, @comment], remote: true do |f| %>
    <%= f.label :content %>
    <%= f.text_area :content, cols: 40, rows: 5  %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <br>
    <%= f.submit "Submit" %>
  <% end %>
</div>
