<h1>Blog</h1>

<ul>
  <% @posts.each do |post| %>
  <li><%= link_to post.title, post_path(post) %>, by <%= post.author %>
    <ul>
      <li><%= truncate(post.content, length: 100, separator: ' ') %></li>
    </ul>
  </li>
  <% end %>
</ul>

<%= link_to "Add a Post", new_post_path %>
<hr>
<h3>Tags</h3>
<ul>
  <% @tags.each do |tag| %>
  <li><%= tag.name %></li>
  <% end %>
</ul>
