<h1><%= @post.title %></h1>
<h3>by <%= @post.author %>, <%= distance_of_time_in_words(@post.created_at, Time.now) %> ago</h3>

<p><%= @post.content %></p>
<p>Tags: <%= raw @post.tag_list.map { |tag| link_to tag, tag_path(tag) }.join(', ') %></p>
<% if current_user && current_user.admin? %>
<%= link_to "Edit", edit_post_path(@post) %> |
<%= link_to "Delete", post_path(@post, @comment), method: "delete" %>
<% end %>
<hr>

<h3>Comments</h3>
<% if current_user %>
<%= link_to "Add a comment", new_post_comment_path(@post) %>
<% end %>

<ul>
  <% @post.comments.each do |comment| %>
  <li><%= comment.content %>, by <%= comment.user.username %> - <%= distance_of_time_in_words(comment.created_at, Time.now) %> ago
  <% if current_user == comment.user || current_user && current_user.admin? %>
    <%= link_to "Edit", edit_post_comment_path(@post, comment) %> |
    <%= link_to "Delete", post_comment_path(@post, comment), method: "delete" %>
  <% end %>
  </li>
  <% end %>
</ul>
